{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

     <div class="container">
        <div class="h-100 row align-items-center">
            <form action="{% url 'edit_collection' %}" method="POST" enctype="multipart/form-data">
                <div class=" col-md-4 offset-md-4">
                    <h1>{{ title }}</h1>
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {{ form|crispy }}
{#                    {% for f in form %}#}
{#                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>#}
{#                        <div class="form-error">{{ f.errors }}</div>#}
{#                    {% endfor %}#}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
     <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}