{% load like_helper %}
<div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ post.title }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="card" style="width: 24rem;">
                                                <img src="{{ post.photo.url }}" class="card-img-top"
                                                     alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ post.title }}</h5>
                                                    <p class="card-text">{{ post.content }}</p>
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">Author: <a href="{{post.user.get_absolute_url }}">{{post.user}}</a></li>
                                                    <li class="list-group-item">Collection: {{post.collection}}</li>
                                                    <li class="list-group-item">Tags: {% for item in post.tags.names %}{{item}}, {% endfor %}</li>
                                                    <li class="list-group-item">Time created: {{ post.created_at}}</li>
                                                </ul>
                                                <div  class="card-body">
                                                    {% is_liked_by_this_user post user as is_liked %}
                                                {% if is_liked %}
                                                    <button id="{{ post.pk }}" type="button"
                                                            class="like btn btn-sm btn-dark">
                                                        Like
                                                    </button>
                                                {% else %}
                                                    <button id="{{ post.pk }}" type="button"
                                                            class="like btn btn-sm btn-outline-secondary">
                                                        Like
                                                    </button>
                                                {% endif %}
                                                    <a id="likes_count">{{post.likes_set.count}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 scrollarea">
                                            <ol style="max-height: 600px;
                                                        margin-bottom: 10px;
                                                        overflow: auto;
                                                        -webkit-overflow-scrolling: touch;"
                                                class="list-group list-group-numbered">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>


                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="ms-2 me-auto">
                                                        <div class="fw-bold">Subheading</div>
                                                        Content for list item
                                                    </div>
                                                    <span class="badge bg-primary rounded-pill">14</span>
                                                </li>
                                            </ol>
                                            <form action="POST">
                                                <div class="mb-3">
                                                    <label for="comment" class="form-label">Add your comment</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                                           aria-describedby="emailHelp">
                                                    <div id="emailHelp" class="form-text">Length in range 1..50
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    ...
                                </div>
                            </div>
                        </div>


<script type="text/javascript">
        $('.like').click(function () {
            if ($(this).attr('class') === 'like btn btn-sm btn-dark') {
                $(this).attr('class', 'like btn btn-sm btn-outline-secondary')
            } else {
                $(this).attr('class', 'like btn btn-sm btn-dark')
            }
            var post_id;
            $.ajax(
                {

                    type: "GET",
                    url: "{% url 'like_post' %}",
                    data: {
                        post_id: $(this).attr('id')


                    },
                    success: function (data) {
                        $('#likes_count').text(data)

                    }
                })
        });
    </script>