{% extends 'base.html' %}
{% load like_helper %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}





{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% with is_auth=request.user.is_authenticated cur_user=user %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        {% if not is_auth %}
            <div class=" container  col-xl-10 col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="col-lg-7 text-center text-lg-start">
                        <h1 class="display-4 fw-bold lh-1 mb-3">Some features are not available for anonymous users</h1>
                        <p class="col-lg-10 fs-4">If you are not log in yet, submit this form to do it. Authorized users
                            have much more
                            features in this site. If you doesn't have user profile, then click "Sign up" to create
                            it.</p>
                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                        <form method="post" action="{% url 'login' %}" class="p-4 p-md-5 border rounded-3 bg-light">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input name="username" type="text" class="form-control" id="floatingInput"
                                       placeholder="Username">
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="password" class="form-control" id="floatingPassword"
                                       placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>

                            <button style="margin-bottom: 5px" class="w-100 btn btn-lg btn-primary" type="submit">Log
                                in
                            </button>

                            <a href="{% url 'register' %}" class="w-100 btn btn-lg btn-warning">Sign up</a>
                            <hr class="my-4">
                            <small class="text-muted">By clicking Log in, you agree to the terms of use.</small>

                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class=" album py-5  bg-gradient ">
        <div class="row ">
        <div class="card text-white bg-light  bg-gradient text-white col-2 d-flex flex-column align-items-stretch align-content-lg-start flex-shrink-0 "
             style="width: 250px; max-height: 700px">
            <a id="cols"
               class="switch card d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none">

                <span class=" fs-5 fw-semibold">Collections</span>
            </a>
            <div class="list-group list-group-flush  scrollarea" style="max-height: 700px;
                                                        margin-bottom: 10px;
                                                        overflow: auto;
                                                        -webkit-overflow-scrolling: touch;">
                {% for item in cols|dictsortreversed:'posts__count' %}
                    <a id="{{ item.pk }}"
                       class="bg-secondary bg-gradient switch_wall list-group-item list-group-item-action active py-3 lh-tight"
                       aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">{{ item.title }}</strong>
                            <small>Posts: {{ item.posts__count }}</small>
                        </div>
                        <div class="col-10 mb-1 small">
                            {{ item.user }}

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="container col-10">

        <div id="container" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

            {% for item in posts %}
                <div class="container col">


                    <div class="col">
                        <div class="card shadow-lg">
                            <h5 class=" card-header  bg-transparent">{{ item.title }}</h5>
                            <img src="{{ item.photo.url }}" class="bd-placeholder-img card-img-top" width="100%"
                                 height="150%"
                                 xmlns="http://www.w3.org/2000/svg" role="img"
                                 aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                 focusable="false">


                            <div class="card-body">

                                <a href="{{ item.user.userprofile.get_absolute_url }}"
                                   class="card-subtitle mb-2 text-muted">@{{ item.user }}</a>
                                <p class="card-text card">{{ item.content }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">

                                        {% if is_auth %}
                                            <button type="button" id="{{ item.pk }}"
                                                    class="view_modal btn btn-sm btn-outline-secondary"
                                                    data-bs-toggle="modal">
                                                View
                                            </button>
                                            {% is_liked_by_this_user item cur_user likes as is_liked %}
                                            {% if is_liked %}
                                                <button id="{{ item.pk }}" type="button"
                                                        class="like btn btn-sm btn-dark">
                                                    Like
                                                </button>
                                            {% else %}
                                                <button id="{{ item.pk }}" type="button"
                                                        class="like btn btn-sm btn-outline-secondary">
                                                    Like
                                                </button>
                                            {% endif %}
                                            </div>

                                            <a id="likes_count{{ item.pk }}"
                                               class="fw-bold text-reset">{{ item.likes__count }}</a>


                                        {% else %}
                                            </div>

                                            <a id="likes_count{{ item.pk }}">Likes: {{ item.likes__count }}</a>

                                        {% endif %}


                                <small class="text-muted">{{ item.created_at }}</small>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            {% endfor %}
    {% endwith %}

</div>
</div>
</div>
    <nav id='pagin' aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}

                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}
            <span class="current fw-bold text-reset">
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
        </span>
            {% if  page_obj.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>

    </nav>
    {#    <div class="pagination justify-content-center">#}
    {#    <span class="step-links">#}
    {#        {% if page_obj.has_previous %}#}
    {#            <a class="fw-bold text-reset" href="?page=1">&laquo; first</a>#}
    {#            <a class="fw-bold text-reset" href="?page={{ page_obj.previous_page_number }}">previous</a>#}
    {#        {% endif %}#}
    {##}
    {#        <span class="current fw-bold text-reset">#}
    {#            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.#}
    {#        </span>#}
    {##}
    {#        {% if  page_obj.has_next %}#}
    {#            <a class="fw-bold text-reset" href="?page={{ page_obj.next_page_number }}">next</a>#}
    {#            <a class="fw-bold text-reset" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
    {#        {% endif %}#}
    {#    </span>#}
    {#    </div>#}
    <div class="modal fade " id="modal" tabindex="-1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{% static 'js/switch_wall.js' %}"></script>
        <script src="{% static 'js/like_processing.js' %}"></script>
        <script src="{% static 'js/view_modal.js' %}"></script>
{% endblock %}