
.card-title {

}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 7.5rem;
    }
}


.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}